extends layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container.px-4.px-lg-5
      a.navbar-brand(href='#page-top') 
      button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='#navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ms-auto
          li.nav-item
            a.nav-link(href='#about') Nosotros
          li.nav-item
            a.nav-link(href='#projects') Bicletas
          li.nav-item
            a.nav-link(href='#signup') Contacto

  // Masthead
  header.masthead
    .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
      .d-flex.justify-content-center
        .text-center
          h1.mx-auto.my-0.text-uppercase RED BICICLETAS
          h2.text-white-50.mx-auto.mt-2.mb-5 La primera comunidad de ciclistas urbanos.
          a.btn.btn-primary(href='#about') Comenzar

  // About Section
  section#about.about-section.text-center
    .container.px-4.px-lg-5
      .row.gx-4.gx-lg-5.justify-content-center
        .col-lg-8
          h2.text-white.mb-4 Built with Bootstrap 5
          p.text-white-50
            | Grayscale is a free Bootstrap theme created by Start Bootstrap. You can download the template from
            a(href='https://startbootstrap.com/theme/grayscale/') the preview page.
            | The theme is open source, and you can use it for any purpose, personal or commercial.
    img.img-fluid(src='assets/img/ipad.png', alt='...')

  // Projects Section
  section#projects.projects-section.bg-light
    .container.px-4.px-lg-5
      #main_map

      
  // Signup Section
  section#signup.signup-section
    .container.px-4.px-lg-5
      .row.gx-4.gx-lg-5
        .col-md-10.col-lg-8.mx-auto.text-center
          i.far.fa-paper-plane.fa-2x.mb-2.text-white
          h2.text-white.mb-5 Subscribe to receive updates!
          form#contactForm.form-signup(data-sb-form-api-token='API_TOKEN')
            .row.input-group-newsletter
              .col
                input#emailAddress.form-control(type='email', placeholder='Enter email address...', aria-label='Enter email address...', data-sb-validations='required,email')
              .col-auto
                button#submitButton.btn.btn-primary(type='submit') Notify Me!
            .invalid-feedback.mt-2(data-sb-feedback='emailAddress:required') An email is required.
            .invalid-feedback.mt-2(data-sb-feedback='emailAddress:email') Email is not valid.
            #submitSuccessMessage.d-none
              .text-center.mb-3.mt-2.text-white
                .fw-bolder Form submission successful!
                br
                a(href='https://startbootstrap.com/solution/contact-forms') Contact Forms
            #submitErrorMessage.d-none
              .text-center.text-danger.mb-3.mt-2 Error sending message

  // Contact Section
  section.contact-section.bg-black
    .container.px-4.px-lg-5
      .row.gx-4.gx-lg-5
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-map-marked-alt.text-primary.mb-2
              h4.text-uppercase Address
              hr.my-4.mx-auto
              .small.text-black-50 4923 Market Street, Orlando, FL
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-envelope.text-primary.mb-2
              h4.text-uppercase Email
              hr.my-4.mx-auto
              .small.text-black-50 hello@yourdomain.com
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-mobile-alt.text-primary.mb-2
              h4.text-uppercase Phone
              hr.my-4.mx-auto
              .small.text-black-50 +1 (555) 902-8832

      .social.d-flex.justify-content-center
        a.mx-2(href='#!')
          i.fab.fa-twitter
        a.mx-2(href='#!')
          i.fab.fa-facebook-f
        a.mx-2(href='#!')
          i.fab.fa-github

  // Footer
  footer.footer.bg-black.small.text-center.text-white-50
    .container.px-4.px-lg-5 Copyright &copy; Your Website 2023

  // Bootstrap core JS
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
  // Core theme JS
  script(src='/javascripts/scripts.js')
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(src='/javascripts/map.js')
